* {
  padding: 0;
  margin: 0;
}
.bg {
  width: 100vw;
  height: 100vh;
  min-width: 1300px;
  position: relative;
  overflow: hidden;
  display: none;
}
.bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
}
.logo {
  width: 238px;
  height: 36px;
  margin-top: 26px;
  margin-left: 34px;
  align-content: center;
}
.main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 56px;
  color: #fff;
  font-weight: bolder;
}
.title2 {
  font-size: 72px;
  color: #fff;
  font-weight: bolder;
  margin-bottom: 48px;
}
.title2 span {
  color: #0084FF;
}
.btns {
  display: flex;
}
.btn {
  display: block;
  margin-right: 20px;
  width: 220px;
  height: 50px;
}
.btn img{
  width: 220px;
  height: 50px;
}
.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 48px;
}
.tip {
  font-size: 16px;
  color: #fff;
  margin-bottom: 32px;
}
.btns-link {
  display: flex;
}
.btn-link {
  display: block;
  width: 51px;
  height: 51px;
}
.btn-link img {
  width: 51px;
  height: 51px;
}
.btn-link + .btn-link {
  margin-left: 28px;
}
/* 自定义 */
.bg-custom-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: none;
}
.bg-custom {
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-custom .bg-main {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
.btns2 {
  margin-top: 140px;
}